https://s3.ap-northeast-2.amazonaws.com/ar.huangwei.cx/ar-zoom/index.html
https://s3.ap-northeast-2.amazonaws.com/ar.huangwei.cx/ar-zoom/ar-zoom.ipa
https://s3.ap-northeast-2.amazonaws.com/ar.huangwei.cx/ar-zoom/Icon-App-57x57.png
https://s3.ap-northeast-2.amazonaws.com/ar.huangwei.cx/ar-zoom/ItunesArtwork.png
